<h1 class="leaderboard__title">Leaderboard</h1>
<table class="leaderboard__table">
  <thead class="leaderboard__thead">
    <tr class="leaderboard__row">
      <th class="leaderboard__header">Name</th>
      <th class="leaderboard__header">Guess Count</th>
      <th class="leaderboard__header">Time</th>
      <th class="leaderboard__header">Word Length</th>
      <th class="leaderboard__header">No Letter Duplicate</th>
    </tr>
  </thead>
  <tbody class="leaderboard__tbody">
    {{#each allScores}}
      <tr class="leaderboard__row">
        <td class="leaderboard__data">{{this.name}}</td>
        <td class="leaderboard__data">{{this.guessCount}}</td>
        <td class="leaderboard__data">{{this.timeTaken}}</td>
        <td class="leaderboard__data">{{this.rules.wordLength}}</td>
        <td class="leaderboard__data">{{this.rules.noLetterDuplicate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
